#       OS        #
###################
.DS_Store
.idea
Thumbs.db
tmp
temp
*.log
*.local

#     Node.js     #
###################
node_modules
package-lock.json
yarn.lock

#     Dot Env     #
###################
*.env*
!*.env.example

#      Build      #
###################
dist
dist-ssr
